.news-scrollbar {
  max-height: 7em; /* Shows about 3-4 items */
  overflow-y: auto;
  border: 1px solid #eee;
  padding: 0.5em;
  margin-bottom: 1em;
  background: #fafbfc;
}
.news-scrollbar ul {
  margin: 0;
  padding-left: 1.2em;
}
.news-scrollbar li {
  margin-bottom: 0.5em;
  font-size: 1em;
}
