---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

// FontAwesome
@import "font-awesome/fontawesome";
@import "font-awesome/solid";
@import "font-awesome/brands";
